div(ng-controller='AdminCtrl')

  .row
    .twelve.columns
    
  .row
    .three.columns
      h4 Briqs
      ul.square
        li(ng-repeat='id in briqs',ng-click='selectBriq(id)')
          {{model[id].info.name}}
      h4 Installed
      ul.square
        li(ng-repeat='id in installed',ng-click='uninstallBriq(id)')
          {{id.slice(10)}}
             
    .nine.columns(ng-show='id')
      .panel
        h4 {{model[id].info.name}}
        h4.subheader {{model[id].info.description}}
        .row(ng-repeat='input in model[id].info.inputs')
          .three.columns
            label.right.inline {{input.name}}:
          .nine.columns
            input.four(type='text',ng-model='input.default')
        .row.twelve.columns
          input.button(type='submit',value='Install',ng-click='installBriq()')

  .row
    .twelve.columns
      hr
      p.left Server platform: 
        i {{platform}}
        |  - it is now 
        b {{tick|date:'HH:mm:ss'}}
      p.right
        a(href='{{model.package.homepage}}') {{model.package['exact-name']}}
        |  {{model.package.version}}
