.row
  .twelve.columns

    h1 Blink

    p Button 1: {{blink.b1}}
    p Button 2: {{blink.b2}}
    p
      label LED 1
        input(type='checkbox',ng:model='blink.l1')
    p
      label LED 2
        input(type='checkbox',ng:model='blink.l2')
    pre {{blink}}
