.row
  .twelve.columns

    h4 Upload

    form(action='/compile',method='POST',enctype='multipart/form-data')
      input(name='upload',type='file')
      button(type='submit') Save

    h4 Files

    div(ng:repeat='row in uploads')
      button(ng:click='compileAndInstall(row)') Install
      b  {{row.name}}
      |  - {{row.date | date:'MMM-dd, HH:mm:ss'}} - {{row.size}}b - 
      button(ng:click='removeUpload(row)') Remove

    hr
    p Exit status: {{result}}
    pre {{output}}
