.row
  .twelve.columns

    h1 Locations

    .row(ng-repeat='row in locations')
      .two.columns
        b {{row.key}}
      .ten.columns
        | {{row}}

    h1 Drivers

    div(ng-repeat='row in drivers')
      h6 {{row.key}}
      .row(ng-repeat='(k,v) in row')
        .one.columns.offset-by-one
          b {{k}}
        .ten.columns
          | {{v}}
