.row
  .twelve.columns

    .row
      .eight.columns
        h3 Graphs 
          input(ng-model='hours',placeholder='1.0 hour')
        #chart

      .four.columns
        h3
          input(type='text',ng-model='query',placeholder='Search...')
        .hover(ng-repeat='row in status | filter:query | orderBy:"key"'
            ng-click='setGraph(row.key)') {{row.key}}
          span(ng-show='row.unit')  ({{row.unit}})
