.row
  .seven.columns
    h4 {{pkg.description}}
    hr
    //- TODO: tedious, should use Markdown
    p
      | To run a quick demo, go to the
      b: a(href='admin')  Admin
      |  page and click on the "rf12replay" and "drivers" items in the
      | list of Briqs, and click on "Install" to activate them both on the
      | server. This will start generating simulated RF12 packet receptions.
      | Then install the "status" briq and go to the
      b: a(href='status')  Status
      |  page to see real-time updates.
    p: i That's all there is for now – please check the
      b: a(href='http://jeelabs.org/tag/housemon/')  weblog
      |  for the latest news.
    hr
