.row
  .twelve.columns
    h1 Readings

    .row
      .three.columns: h5 Origin
      .two.columns: h5 Time
      .seven.columns: h5 Readings

    .row(ng-repeat='(k,v) in readings')
      .three.columns
        pre {{k}}
      .two.columns
        pre {{v.time | date:'MMM dd, HH:mm:ss'}}
      .seven.columns
        pre {{v | cleanup}}
