.row
  .twelve.columns
    h1 Readings

    .row
      .eleven.columns
      
        .row
          .three.columns: h5 Origin
          .two.columns: h5 Time
          .seven.columns: h5 Readings

        .row(ng-repeat='(k,v) in readings')
          .three.columns
            | {{k}}
          .two.columns
            | {{v.time | date:'MMM dd, HH:mm:ss'}}
          .seven.columns
            span(ng-repeat='(x,y) in v | cleanup')  {{x}}: {{y}}

      .one.columns
        canvas#mybar(width='100%',height='400')
