.row
  .twelve.columns
    h3 Reset

    hr
    button(ng-click='remote("resetStatus")') Reset Status
    |  &nbsp; 
    button(ng-click='remote("resetReadings")') Reset Readings
    |  &nbsp; 
    button(ng-click='remote("resetHistory")') Reset History
    |  &nbsp; 
    button(ng-click='remote("flushRedis")') Flush Redis
    |  &nbsp; 
    button(ng-click='remote("deleteArchive")') Delete Archive
    |  &nbsp; 
    button(ng-click='remote("restart")') Restart server
    hr
    button(ng-click='remote("reprocessLogs")') Reprocess Logs
