.row
  .twelve.columns
    h3 Reset

    .row
      .two.columns
        button(ng-click='resetStatus()') Reset Status
      .two.columns
        button(ng-click='resetReadings()') Reset Readings
      .two.columns
        button(ng-click='flushRedis()') Flush Redis
      .two.columns
