.row
  .twelve.columns

    .row
      .eight.columns
        h3 Status
      .four.columns
        h3: input(type='text',ng-model='query',placeholder='Search...')

    .row(ng-repeat='row in status | filter:query | orderBy:"key"'
         highlight-on-change='row.value')
      .two.columns: .right {{row.location}}
      .two.columns {{row.parameter}}
      .one.columns()
        .right {{row.value}}
      .one.columns {{row.unit}}
      .two.columns {{row.time | date:"MM-dd &nbsp; HH:mm:ss" }}
      .four.columns {{row.origin}} - {{row.type}} - {{row.name}}
