.row
  .twelve.columns
    h3 System Information

    h5 Uptime
    pre {{info.up}}

    h5 Disk free
    pre {{info.df}}

    h5 Processes
    pre {{info.ps}}

    h5 Local
    pre {{local | json}}

    h5 Package Info
    pre {{pkg | json}}

    h5 Environment
    pre {{process | json}}
