script(src='http://cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/javascripts/foundation.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.3/angular.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js')
