!!! 5
html(lang='en',ng-app='myApp')
  head
    meta(charset='utf-8')
    != SocketStream
    title Welcome
    
  body(ng-controller='AppCtrl')
    p Server platform: 
      u {{platform}}
      |  - it is now 
      b {{tick|date:'HH:mm:ss'}}
      
    div.leftSide
    
      h3 Briqs
      ul: li(ng-repeat='id in briqs',
             ng-click='selectBriq(id)') {{data[id].info.name}}
           
      h3 Installed Briqs
      ul: li(ng-repeat='id in installed',
             ng-click='uninstallBriq(id)') {{id.slice(10)}}
             
    div(ng-show='id')
      h3 {{data[id].info.name}}
      p {{data[id].info.description}}
      table
        tr(ng-repeat='param in data[id].info.parameters')
          td {{param.name}}:
          td: input(type='text', ng-model='param.default')
      p: button(ng-click='installBriq()') Install
