!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    != SocketStream
    title Welcome
    
  body(ng-app='myApp',ng-controller='AppCtrl')
    p Server platform: 
      u {{platform}}
    p It is now 
      b {{tick|date:'HH:mm:ss'}}
    p Server features:
      pre
        span(ng-repeat='(name,path) in features.data')
          |   {{name}}
          br
