!!!
html(lang='en',ng-controller='MainCtrl')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width')
    title Welcome to {{local.exactName}}
    != SocketStream
    
  body
    nav.top-bar
      ul
        li.name: h1: a(href='{{pkg.homepage}}')
          img(src='/images/logo.png',height=27,width=27)
          | &nbsp; {{local.exactName}}
        li.toggle-topbar: a(href='#')
      section
        ul.right
          li(ng-repeat='r in routes')
            a(href='{{r.route}}') {{r.title}}
        
    .ng-view
